{% extends 'base.html.twig' %}
{% block body %}

    {% include 'navbar/_navbar.html.twig' %}
    {% if annonces|length>0 %}
        <h3 class="text-center text-muted mb-5">Annonces: {{annonces|length}} </h3>
        {% for row in annonces|batch(1) %}
            <div class="row">
                {% for annonce in row %}            

                    <article class="col-md-8 bg-red rounded border-bottom  mb-5" style="margin-left: 50px;">
                        <div class="row">
                            <div class=" col-md-6 border">
                                <a href="{{path('annonce_show',{id: annonce.id})}}" >
                                    <img src="{{ ( annonce.imageName ? vich_uploader_asset(annonce) : asset('image/noImage.png')) |imagine_filter('my_thumb_medium') }}" alt="{{ annonce.title }}" />
                                </a>

                            </div>
                            <div class="col-md-6">
                                <h2> <a href="{{path('annonce_show',{id: annonce.id})}}" style="text-decoration: none; color: black;" >{{ annonce.title}}</a></h2>
                                <h4>{{annonce.prix}}</h4>
                                <p>{{ annonce.description|u.truncate(50,'...',false)}}</p>

                            </div>
                        </div>

                                            

                    </article>

                {% endfor %}

            </div>
        {% endfor %}


    {% else %}
            <p class="h2 m-t-5 text-center"> Acuume annoce ne correspond a vos critere <a href="{{ path('create_annoce')}}"> deposer votre annonce</a> </p> 
    

    {% endif %}

    

   

    {% include 'footer/_footer.html.twig' %}

    

{% endblock %}
